@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
.subheading
{
    color: rgb(255, 0, 0);

}
h1{
    color: blue;
    background-color: yellow;
    padding: 1rem;
    border: 0.25rem solid red;
    margin: 2rem;
    text-align: center;
    font-family: "roboto";
    font-weight: normal;
    font-size: 6rem;
    height: 14rem;
    width: 16rem;

}
.then {
    border: 0.1rem solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.yup {
    border: 0.1rem solid blue;
    height: 6rem;
    width: 6rem
}